body{
	margin:0px;
	background: #BCB0AA;
	mix-blend-mode: normal;
	overflow:hidden;
}
.map{
	width: 1203px;
	height: 685px;
	left: 50%;
	top: 110px;
	margin-left:-951px;
	border:1px solid black;
	overflow:scroll;
	position:fixed;
}
#t1{
	position:absolute;
	background:red;
	width:100px;
	height:100px;
	top:20px;
	left:20px;
}
#info{
	position:absolute;
	background:green;
}
#black{
	position:absolute;
	background:#00000047;
}
.panel{
	width:100%;
	height: 89px;
	border: 1px solid #000000;
	font-size: 32px;
	display: flex;
}
.gl, .mi, .pa, .prof{
	border: 1px solid #000000;
	height:100%;
	font-size: 32px;
	align-items: center;
	text-align: center;
	background: #215E81;
	color:white;
}
.gl{
	width: 192px;
}
.mi{
	width: 148px;
}
.pa{
	width: 240px;
}
.prof{
	width: 1440px;
}
.a1{
	position:relative;
	top:25px;
}
.spisok{
	margin-left:385px;
	left:50%;
	position:absolute;
	height: 685px;
	width: 418px;
	top: 110px;
	border: 3px solid #000000;
	overflow-x:hidden;
	overflow-y:scroll;
}
.sp{
	width: 418px;
	height: 98px;
	margin-left:-3px;
	margin-top:-3px;
	border: 3px solid #000000;
	align-items: center;
	text-align: center;
	font-weight: 400;
	font-size: 32px;
	line-height: 42px;
}
.spisok::-webkit-scrollbar {
    background-color: #00800000;
}
.spisok::-webkit-scrollbar-thumb {
    background-color: #1C9588;
}
.footer{
	margin-top:38.05%;
	background:#215E81;
	height:154px;
	width:101%;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: #FFFFFF;
	display:flex;
}
.SS{
	width:235px;
	height:100%;
}
.kont{
	width:404px;
	height:100%;
	border:3px solid black;
}
.txt{
	padding:31px;
	width: 1050px;
}